@model MangaShopSolution.ViewModels.System.Users.LoginRequest
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = CultureInfo.CurrentCulture.Name;
}

<div class="body__register">
<div class="container">
    <div class="form">
      <div class="btn">
        <a class="btn__sign" href="/@culture/Account/Register">SIGN UP</a>
        <a class="btn__log" href="/@culture/Account/Login">LOG IN</a>
      </div>
       
       <form action="/@culture/Account/Login" method="post">
        
        <div class="formGroup">
          <input class="span3" type="text" asp-for="UserName" placeholder="UserName">
                        <span asp-validation-for="UserName" class="text-error"></span>
        </div>
        <div class="formGroup">
          <input type="password" class="span3" asp-for="Password" placeholder="Password">
                        <span asp-validation-for="Password" class="text-error"></span>
         
        </div>
        <div class="checkBox">
          <input type="checkbox" name="checkbox" id="checkbox">
          <span class="text">Keep me signed in on this device</span>
        </div>
        <div class="formGroup">
          <button type="submit" class="btn2">LOGIN</button>
        </div>
 
      </form>
     </div>
</div>
 </div>	