@model List<MangaShopSolution.ViewModels.Catalog.Categories.CategoryVm>
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
<div  class="side__bar">
    
    <ul  class="side__menu">
        @{
            var parents = Model.Where(x => x.ParentId == null);
        }
        @for (int index = 0; index < parents.Count(); index++)
        {
            var parent = parents.ElementAt(index);
            var children = Model.Where(x => x.ParentId == parent.Id);
            if (children.Any())
            {
                <li>
                    <a> @parent.Name</a>
                    <ul>    
                        @foreach (var item in children)
                        {
                            <li ><a href="/@culture/@_loc["categoryUrl"]/@item.Id">@item.Name </a></li>
                        }
                    </ul>
                </li>
            }
            else
            {
                <li><a href="/@culture/@_loc["categoryUrl"]/@parent.Id">@parent.Name</a></li>
            }

        }
    </ul>
    <br />
    @*<div class="thumbnail">
            <img src="/themes/images/products/panasonic.jpg" alt="Bootshop panasonoc New camera" />
            <div class="caption">
                <h5>Panasonic</h5>
                <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
            </div>
        </div><br />
        <div class="thumbnail">
            <img src="/themes/images/products/kindle.png" title="Bootshop New Kindel" alt="Bootshop Kindel">
            <div class="caption">
                <h5>Kindle</h5>
                <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
            </div>
        </div><br />
        <div class="thumbnail">
            <img src="/themes/images/payment_methods.png" title="Bootshop Payment Methods" alt="Payments Methods">
            <div class="caption">
                <h5>Payment Methods</h5>
            </div>
        </div>*@
</div>